html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Archivo", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fcf1e1;
}

header img {
  width: 256.73px;
  height: 114.82px;
}

.sectionOne {
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-wrap: nowrap;

  background-color: #fcf1e1;

  padding-bottom: 40px;
}

.sectionOne img {
  min-width: 300px;
  min-height: 300px;
  width: 40%;
  height: 40%;
}

.sectionOne div {
  width: 30%;

  text-align: center;
}

.sectionOne h1 {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 31.4347px;
  line-height: 38px;
  /* text-align: center; */

  color: #000000;

  padding-bottom: 40px;
}

.sectionOne h2 {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 31.4347px;
  line-height: 38px;
  /* text-align: center; */

  color: #8D3B26;

  padding-bottom: 30px;
}

.sectionOne p {
  width: 70%;

  margin: 0 auto;
  padding-bottom: 10px;
}

.sectionOne button {
  width: 350px;
  height: 84px;

  margin: 0 auto;

  text-decoration: none;
  text-align: center;
  background: #7999B0;

  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height */

  color: #FFFEFC;
}

.sectionOne img {
  min-width: 300px;
  min-height: 300px;
  width: 40%;
  height: 40%;
}

.sectionTwo {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

  background-color: #b0a18b;
}

.sectionTwo p {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  
  color: #000000;
}

.paragrafo{
    font-weight:500;
}

.sectionTwo div {
  width: 100%;
  padding: 2.5% 6%;
}

.sectionThree {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #fffefc;
}

.sectionThree div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 120px 100px;
}

.sectionThree div img {
  width: 100%;
  height: 100%;

  max-width: 281px;
  max-height: 281px;

  padding-bottom: 16px;
}

.sectionThree p {
text-align: center;
}

.sectionThree b {
  font-family: Archivo;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
}

.sectionThree div:first-child {
  background: url("../assets/Vector.png") no-repeat center;
  background-position: bottom;
  background-size: 80%;
}

.sectionThree div:last-child {
  background: url("../assets/Vector1.png") no-repeat;
  background-position: bottom;
  background-size: 80%;
}

.sectionFour {
  display: flex;
  text-align: center;
  justify-content: center;

  flex-direction: column;

  background-color: #fcf1e1;

  padding: 50px 0;
}

.sectionFour h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;

  padding-bottom: 20px;
}

.sectionFour b {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;

  padding: 3px 0 0px 0;
}

.sectionFour h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;

  padding: 10px 0 20px 0;
}

.sectionFour span {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;

  padding: 10px 0 20px 0;
}

.sectionFour div {
  display: flex;
  text-align: center;
  justify-content: center;

  flex-direction: column;

  background-color: #fcf1e1;
}

.sectionFour button {
  width: 350px;
  height: 54px;

  margin: 0 auto;

  text-decoration: none;
  text-align: center;
  background: #7999B0;

  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height */

  color: #FFFEFC;
}

.sectionFour button:hover {
  background: #2879b3;
}

.backCont {
  background-color: #e7d7be !important;
  padding: 10px 20px;
  /* z-index: 1; */
}

.contagem {
  width: 25%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.contagem span:first-child {
  text-align: center;
}

.contagem span:last-child {
  text-align: center;
}

.contagem td {
  text-align: center;
  padding-right: 8px;
}

@media (max-width: 950px) {
  .sectionOne {
    flex-wrap: wrap;
  }

  .sectionOne div {
    display: flex;
    width: 90%;
  
    flex-direction: column-reverse;
    text-align: center;
  }

  .sectionOne img {
    padding: 20px 0;
  }

  .sectionOne h1 {
    padding-top: 0px;
  }

  .sectionOne h2 {
    padding-bottom: 20px;
  }

  .sectionOne button {
    width: 100%;

    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sectionTwo {
    flex-wrap: wrap;
  }

  .sectionTwo p {
    font-size: 20px;
  }

  .sectionThree {
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .sectionOne div {
    width: 100%;
  }

  .sectionOne button {
    margin-bottom: 7px;
  }

  .sectionOne p {
    padding: 0 10px;
    padding-bottom: 10px;
  }

  .descricao-convidado {
    width:22em;
  }

  .sectionOne img {
    width: 100%;
  }

  .sectionOne button {
    height: 60px;
  }

  .sectionOne h1 {
    padding: 0 5% 20px 5%;
    font-size: 18px;
  }

  .sectionOne h2 {
    font-size: 24px;
    padding: 0 5% 10px 5%;
  }

  .sectionFour button {
    width: 100%;
    height: 54px;
  }

  .sectionFour h1 {
    padding: 0 10px;
    padding-bottom: 25px;
  }

  .sectionThree div {
    padding: 40px 60px;
  }

  .sectionThree div:first-child {
    background: none;
  }

  .sectionThree div:last-child {
    background: none;
  }

  .sectionTwo div {
    width: 100%;
    padding: 10% 6%;
  }

 .sectionTwo p {
  font-size: 18px;
 }
}























































/* Início Modal */
.lightbox-none {
  display: none;
}

.lightbox {
  /** Hide the lightbox */
  /* display: none; */

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #333333;
  border-radius: 8px;
}

.lightbox b {
  text-align: center;
  padding: 2%;
  color: #000000;
  font-weight: bold;
}

.lightbox:after {
  content: "";
  display: table;
  clear: both;
}

.lightbox .box {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  /* min-width:500px; */
  min-width: 470px;
  min-height: 300px;
  margin: 2% auto;
  /* padding:20px; */
  background-color: #e5e5e5;
  box-shadow: 0px 1px 26px -3px #777777;

  border-radius: 8px;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightbox .title {
  margin: 0;
  padding: 0 0 10px 0px;
  border-bottom: 1px #ccc solid;
  font-size: 22px;
}

.lightbox .content {
  display: block;
  padding: 10px 0 0 0px;
  font-size: 18px;
  line-height: 22px;
  background: #fff;
  /* width: 385px; */
  border: none;
  border-radius: 8px 0 0 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightbox .content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 110%;
  color: #233e84;
  text-align: center;
  padding-bottom: 10px;
}

.lightbox .form-content {
  display: block;
  padding: 10px 0 0 0px;
  font-size: 18px;
  line-height: 22px;
  background: #233e84;
  width: 385px;
  border: none;
  border-radius: 0 8px 8px 0;
}

.lightbox .close {
  float: right;
  display: block;
  text-decoration: none;
  font-family: Gotham, "Helvetica Neue", content Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  padding-right: 20px;
}

.lightbox .open {
  /** Show lightbox when mouse leaves the browser window */
  display: block;
  outline: none;
}

.box {
  padding-bottom: 20px;
}

.box img {
  width: 100%;

  padding-bottom: 20px;
}

.box div {
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-bottom: 20px; */
}

.box h2 {
  padding: 20px 0 0px 0 !important;
}

.box div div:last-child {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.box h1 {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 120%;

  color: #4e3440;
}

.box h2 {
  width: 90%;
  text-align: center;
  padding-top: 2px;

  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;

  color: #bc7373;

  padding-bottom: 20px !important;
}

.box div div img {
  width: 200px;
  height: 100px;
}

.box button {
  width: 350px;
  height: 54px;

  margin: 0 auto;

  text-decoration: none;

  text-align: center;
  background: #7999b0;

  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height */

  color: #fffefc;

  border-radius: 8px;
}

.box button:hover {
  background: #2879b3;
}

.close {
  margin-top: 3px !important;
  padding-right: -1px !important;
  width: 100% !important;
  text-align: right !important;
  float: right !important;
  color: #bc7373 !important;
  background-color: #fcf0e0 !important;
  padding: 0 !important;
  margin: 0 !important;
  /* pading-top: 5px !important; */
  border-radius: 8px 8px 0 0 !important;
}
/* Fim Modal */
