.contagem {
    width:300px;
    height:70px;
    background-color: #ffffff;
}
    
.numero  {
    background-color: #efefef;
    color: #000000;
    font-size: 22px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
    
.legenda{
    font-size:12px;
    text-align: center;
}